{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'whoisalive/style.css' %}">
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<main class="wrapper">
{% include "nav.html" %}
{% block content %}{% endblock %}
{% block footer %}
<footer class="footer">
<small>&copy; {% now "Y" %} Eric Hilario (s121102) for HIT237</small>
</footer>
{% endblock %}
</main>
</body>
</html>