{% extends "base.html" %}
{% block title %}End Game: Who is alive?{% endblock %}
{% block content %}
  <section class="section parallax bg1">
    <div class="opening">
      <h1>End Game: Who is alive?</h1>
      <h2>In completion of HIT237 Assignment 1</h2>
      <h4>by Eric Hilario</h4>
      <h4>s121102</h4>
    </div>
  </section>
  <section class="section static">
  </section>
  <section class="section parallax bg2">
    <div class="spiel">
	<p>Before I see the movie that is the culmination of my,<br>
	and a million other people's childhood,<br>
	I wanted to pay homage to the heroes whose task is to save,<br>err, "avenge the fallen".<br>
	I've also been out of touch with Web development.<br>Think pre-HTML5.<br>
	This seemed like a better time than any to refresh that <span class="flame">knowledge</span>.</p>
	</div>
  </section>
<div class="scroll-down-indicator"></div>
{% endblock %}