/* Tiny reset thingy */
body,html{margin:0;padding:0;height: 100vh;font-family: "Comic Sans MS", cursive, sans-serif;
}
h1, h2, h3, h4, p {
  line-height: 1px;
  color: #fff;

  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
h1 {
  font-size: 500%;
  font-weight: bold;
  
}
h2 {
  font-size: 2rem;
  font-style: italic;
  margin-top: 5%;
  margin-bottom: 2%;
}
h4 {
  
}
p {
  color: #fff;
  padding-bottom: 1px;
  line-height: normal;
}

.spiel {
  padding: 0 2% 0 2%;
  font-weight: 600;
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 2.5rem;
}
.neon {
	   
  color: #fff;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.flame {
   text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      3px -3px 5px #ff0,
	  3px -3px 10px #ff0,
      -3px 3px 5px #f00,
	  -3px 3px 10px #f00,
       3px 3px 5px #f00;
	   3px 3px 10px #f00;
}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
  background-color: #050409;
}

.top-menu {
  background: rgba(100, 100, 100, 0.4);
  font-size: 20px;
  color: #282a37;
  /* padding: 10px; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0 10px 0 0;
  overflow: hidden;
}

ul.navigation li {
	float: left;
}

.active {
	background-color: #f00;	
}

ul.navigation li a:hover:not(.active) {
	background-color: #f00;	
	
}

	li.dropdown {
	  display: inline-block;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  /* background-color: #f9f9f9; */
	  background: rgba(100, 100, 100, 0.9);
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: white;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
	  display: block;
	}

.btn { /* not used */
  position: relative;
  top: 50%;
  height: 100px;
  width: 200px;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  background: #7AD3EC;
  border-radius: 5px;
  margin: auto;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  
  /* For text formatting. */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 0px #000;
}

.opening {
  width: 100%;
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  webkit-animation: 3s .25s fade backwards ease-out;
  animation: 3s .25s fade backwards ease-out;
  text-align:center;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: url('images/logo.png') no-repeat;
  background-size: 100%;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-repeat: no-repeat;
  background-image: url('images/background.jpg');
  background-color: #050409;
  background-size: cover;
  background-position: center;
}

.bg2::after {
  background-repeat: no-repeat;
  background-image: url('images/background2.jpg');
  background-size: cover;
  background-color: #050409;
  background-position: center;
}

.scroll-down-indicator {
  width: 100%;
  height: 0;
}

.scroll-down-indicator::before{
  content: '╲╱';
  color: #fff;
  position: absolute;
  opacity: 0.7;
  text-shadow: 0 0 6px rgba(0,0,0,0.5);
  font-size: 20px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  bottom: 20px;
  left: 50%;
  margin-left: -30px;
  animation: bounce 3s ease infinite;
}

.scroll-down-indicator::after{
  content: ' ';
  height: 0;
  width:0;
  
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fade {
  from {
    transform:translateY(.25em);
    opacity:0;
    }
}

@keyframes fade {
  from {
    transform:translateY(.25em);
    opacity:0;
  }
}

.footer {
  height: 50px;
  /* background-color: #050409; */
  /* background: rgba(40, 40, 40, 0.4);*/
  width: 100%;
  margin-top: 12%;
text-align: center;
  position: relative;
   bottom: 0;
  color: white;
}

/* for whoisalive */
li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    /* border-left: 10px solid #1958b7;
    border-right: 10px solid #508fc4;
    background-color: #2175bc; */
    color: #fff;
    text-decoration: none;
    
}
li a:hover {
  color: white; 
}
video#bgVideo {
  position: absolute; // Play the video in full screen mode
  top: 0px; 
  
  min-width: 100%; 
  min-height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; // Put the video behind all other elements
}
@media only screen and (max-width: 768px) {
  video {
    display:none;
  }

}

/* For whoisalive/index.html */
a.hero-list {
  text-decoration: none;

}

li.highlighted-hero {
  display: block;
  padding: 1px;
  padding-left: 5px;
  width: 98%;
}

/*
.highlighted-hero:hover {
  background-color:rgba(255, 0, 0, 0.5);

}
*/

p.hero-desc {
  font-size: smaller;
    text-shadow:
       2px 2px 2px #000;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('images/background.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

/* for detail.html */
img.detailview {
  width:20%;
}

/* ****************************************************
https://codemyui.com/comic-book-style-uneven-grid-css/ 
**************************************************** */

.detail-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  max-width: 1440px;
  font-size: 0;
}

.hero-item,
.standard-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-item {
  display: inline-block;
  min-height: 400px;
  width: 50%;
}



/* overridden in the template

.hero-item {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-ori-sin.jpg');
}

.standard-item:nth-child(2) {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/re7-chris-large.jpg");
}

.standard-item:nth-child(3) {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/bioshock-large.jpg");
}

.standard-item:nth-child(4) {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/dishonored-large.jpg");
}

*/

@supports (display: grid) {
  .news-item {
    width: auto;
    min-height: 0;
  }
  
  .hero-item {
    grid-column: 1 / span 2;
    grid-row: 1 / 50;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
  }

  .standard-item:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 50 / 100;
    -webkit-clip-path: polygon(0 14%, 0 86%, 90% 81%, 100% 6%);
    clip-path: polygon(0 14%, 0 86%, 90% 81%, 100% 6%);
    margin-top: -73px;
  }

  .standard-item:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 50 / 100;
    -webkit-clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
    clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
    margin-top: -73px;
    margin-left: -15%;
    margin-bottom: 18px;
  }

  .standard-item:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 100 / 150;
    -webkit-clip-path: polygon(45% 0, 100% 15%, 100% 100%, 0 100%, 0 5%);
    clip-path: polygon(45% 0, 100% 15%, 100% 100%, 0 100%, 0 5%);
    margin-top: -107px;
  }
}

/* ******************************************************
https://fribly.com/2018/05/06/responsive-comic-book-layout/
https://codepen.io/chris22smith/pen/MyBBOe
****************************************************** */
.comic {
  display:flex;
  flex-wrap:wrap;
  font-family:'Comic Sans', cursive;
  padding:1vmin;
}

.panel {
  background: rgba(0, 0, 0, 0.7);
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  flex:1 1;
  /* height:200px; */
  height: 300px;
  margin:1vmin;
  overflow:hidden;
  position:relative;
}

.text {
  background: rgba(0, 0, 0, 0.7);
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;

}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}

.top-right {
  top:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
}

.bottom-right {
  bottom:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
}

.speech {
  background: rgba(0, 0, 0, 0.7);
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:relative;
}

.speech:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.panel:nth-child(1) {
  flex-basis: 400px;
}
.panel:nth-child(2) {
  flex-basis: 200px;
}
.panel:nth-child(3) {
  flex-basis: 200px;
}
.panel:nth-child(4) {
  flex-basis: 200px;
}
.panel:nth-child(5) {
  flex-basis: 200px;
}
.panel:nth-child(6) {
  flex-basis: 200px;
}
.panel:nth-child(7) {
  flex-basis: 400px;
}
.panel:nth-child(8) {
  flex-basis: 200px;
}
.panel:nth-child(9) {
  flex-basis: 200px;
}

/* background colours */

.panel:nth-child(4n+1) {
  background-image:radial-gradient(circle, yellow, orange);
}

.panel:nth-child(4n+2) {
  background-image:radial-gradient(circle, lightblue, deepskyblue);
}

.panel:nth-child(4n+3) {
  background-image:radial-gradient(circle, palegreen, yellowgreen);
}

.panel:nth-child(4n+4) {
  background-image:radial-gradient(circle, lightcoral, tomato);
}